form {
  width: 32.5%;
  height: 95%;
  margin-left: 1rem;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  * {
    width: 20rem;
    height: 2rem;
    letter-spacing: 1.5px;
  }

  button {
    height: 3rem;
    width: 20.7rem;
    font-size: 0.9rem;
    letter-spacing: 4px;
  }
}
